## ETL Pipeline for Pre-Processing the Files

#### Import Python packages

In [11]:
import csv
import os
import glob
import csv
from cassandra.cluster import Cluster

#### Creating list of filepaths to process original event csv data files

In [12]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

/Users/ivankhokhlov/DataEngineering/Project 2 - Modelling with Apache Cassandra

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [13]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
# uncomment the code below if you would like to get total number of rows 
#print(len(full_data_rows_list))
# uncomment the code below if you would like to check to see what the list of event data rows will look like
#print(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [14]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

## Data Modelling

#### Keyspace: sparkifydb

#### Table 1: song_session_history

Modelled to answer the question: "Give me the artist, song title and song's length in the music app history that was heard during sessionId = 338, and itemInSession = 4"

session_id and item_in_session are used as primary key and clustering columns because we have a WHERE statement which groups data by those fields. It also ensures every row is correctly unique.

#### Table 2: user_session_history

Modelled to answer the question: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

user_id, session_id, and item_in_session are used as primary key and clustering columns because we have a WHERE statement which groups data by the user_id and session_id columns and we also need to sort by the item_in_session column.

#### Table 3: user_song_history

Modelled to answer the question: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

song_title and user_id are used as primary key and clustering columns because this gives us a unique combination of all the songs listened by every individual user. Since we are also using song_title in the WHERE statement then this our perfect partioning key.

## Preparing CQL statements

The CQL statements below will be used in the data processing code later.

In [15]:
create_db = ("""
    CREATE KEYSPACE IF NOT EXISTS sparkifydb 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

# TABLE 1 DATA
# 1. Give me the artist, song title and song's length in the music app history that was heard during sessionId = 338, and itemInSession = 4

create_table_1 = ("""
    CREATE TABLE IF NOT EXISTS song_session_history (
        session_id int
        , item_in_session int
        , artist text
        , song_title text
        , song_length double
    , PRIMARY KEY (session_id, item_in_session))
""")

insert_table_1 = ("""
    INSERT INTO song_session_history (
        session_id
        , item_in_session
        , artist
        , song_title
        , song_length
    )
    VALUES (%s, %s, %s, %s, %s)
""")

select_table_1 = ("""
    SELECT
        artist
        , song_title
        , song_length
    FROM song_session_history
    WHERE session_id = 338
    AND item_in_session = 4
""")

drop_table_1 = ("""
    DROP TABLE song_session_history
""")


# TABLE 2 DATA
# 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

create_table_2 = ("""
    CREATE TABLE IF NOT EXISTS user_session_history (
        user_id int
        , session_id int
        , item_in_session int
        , artist text
        , song_title text
        , user_first_name text
        , user_last_name text
    , PRIMARY KEY (user_id, session_id, item_in_session))
""")

insert_table_2 = ("""
    INSERT INTO user_session_history (
        user_id
        , session_id
        , item_in_session
        , artist
        , song_title
        , user_first_name
        , user_last_name
    )
    VALUES (%s, %s, %s, %s, %s, %s, %s)
""")

select_table_2 = ("""
    SELECT
        artist
        , song_title
        , user_first_name
        , user_last_name
    FROM user_session_history
    WHERE user_id = 10
    AND session_id = 182
    ORDER BY session_id, item_in_session
""")

drop_table_2 = ("""
    DROP TABLE user_session_history
""")


# TABLE 3 DATA
# 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

create_table_3 = ("""
    CREATE TABLE IF NOT EXISTS user_song_history (
        song_title text
        , user_id int
        , user_first_name text
        , user_last_name text
    , PRIMARY KEY (song_title, user_id))
""")

insert_table_3 = ("""
    INSERT INTO user_song_history (
        song_title
        , user_id
        , user_first_name
        , user_last_name
    )
    VALUES (%s, %s, %s, %s)
""")

select_table_3 = ("""
    SELECT
        user_first_name
        , user_last_name
    FROM user_song_history
    WHERE song_title = 'All Hands Against His Own'
""")

drop_table_3 = ("""
    DROP TABLE user_song_history
""")


create_queries = [create_table_1, create_table_2, create_table_3]
insert_queries = [insert_table_1, insert_table_2, insert_table_3]
select_queries = [select_table_1, select_table_2, select_table_3]
drop_queries = [drop_table_1, drop_table_2, drop_table_3]

## Create a connection to Cassandra and then create the database

#### Creating a Cluster

In [16]:
try: 
    cluster = Cluster(['127.0.0.1']) #If you have a locally installed Apache Cassandra instance
    session = cluster.connect()
except Exception as e:
    print(e)

#### Create Keyspace

In [17]:
try:
    session.execute(create_db)
except Exception as e:
    print(e)

#### Set Keyspace

In [18]:
try:
    session.set_keyspace('sparkifydb')
except Exception as e:
    print(e)

## Create the tables, insert the data, read the data, and then drop the tables

#### Create the tables

In [19]:
for query in create_queries:
    try:
        session.execute(query)
    except Exception as e:
        print(e)

#### Insert data into the tables

In [20]:
file = 'event_datafile_new.csv'
with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        session.execute(insert_queries[0], (int(line[8]), int(line[3]), str(line[0]), str(line[9]), float(line[5])))
        session.execute(insert_queries[1], (int(line[10]), int(line[8]), int(line[3]), str(line[0]), str(line[9]),  str(line[1]), str(line[4])))
        session.execute(insert_queries[2], (str(line[9]), int(line[10]), str(line[1]), str(line[4])))

#### Select the data from the tables

In [21]:
for query in select_queries:
    try:
        rows = session.execute(query)
    except Exception as e:
        print(e)
        
    print("\nResults:\n")
    for row in rows:
        print(row)

Results:

Row(artist='Faithless', song_title='Music Matters (Mark Knight Dub)', song_length=495.3073)

Results:

Row(artist='Down To The Bone', song_title="Keep On Keepin' On", user_first_name='Sylvie', user_last_name='Cruz')
Row(artist='Three Drives', song_title='Greece 2000', user_first_name='Sylvie', user_last_name='Cruz')
Row(artist='Sebastien Tellier', song_title='Kilometer', user_first_name='Sylvie', user_last_name='Cruz')
Row(artist='Lonnie Gordon', song_title='Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', user_first_name='Sylvie', user_last_name='Cruz')

Results:

Row(user_first_name='Jacqueline', user_last_name='Lynch')
Row(user_first_name='Tegan', user_last_name='Levine')
Row(user_first_name='Sara', user_last_name='Johnson')

#### Drop all the tables

In [22]:
for query in drop_queries:
    try:
        rows = session.execute(query)
    except Exception as e:
        print(e)

#### Close the session and cluster connectionÂ¶

In [23]:
session.shutdown()
cluster.shutdown()